<h1>Add a new store</h1>
<form action="/<%= typeStr %>/new" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" placeholder="Unique name" />
  <fieldset>
    <legend>Allowed entity types in this store</legend>
    <% for (const [key, val] of Object.entries(availableTypes)) { %>
      <label for="type-<%= key %>">
        <input type="checkbox" id="type-<%= key %>" name="allowedTypes" 
          value="<%= key %>" <%= typeStr == key ? 'checked=checked' : ""%>>
        <%= val.readableName %>
      </label>
    <% } %>
  </fieldset>
  <button type="submit" name="submit">Save</button>
</form>