<h1>Type page for <%= typeStr %></h1>
<%- include("partials/entitystore/storesgrid.ejs", {typeStores: typeStores}) %>
<% if (entityStore !== null && entityStore !== undefined) { %>
  <h2><%= entityStore.name %></h2>
  <p>
    <a href="/entitystore/<%= entityStore.id %>/edit">Edit</a>
    <a href="/entitystore/<%= entityStore.id %>/delete"
      onclick="return confirm('Are you sure?')">Delete</a>
  </p>
  <h2>Contents</h2>
  <% console.log(entities) %>
  <% if (typeof entities == "object" && entities.length > 0) { %>
    <%- include("partials/entity/entitiesgrid.ejs", {entities: entities, schema: schema}) %>
  <% } else { %>
    <p>Nothing yet</p>
  <% } %>
  <p>
    <a href="/entity/add/type/<%= typeStr %>/store/<%= entityStore.id %>">Add <%= typeStr %></a>
  </p>
<% } %>