<nav id="site-header">
  <ul>
    <li><strong><a href="/">Invekotin</a></strong></li>
  </ul>
  <ul>
    <% if (loggedIn) { %>
      <% for (const [key, content] of Object.entries(config.entityTypes)) { %>
        <li>
          <a href="/<%= key %>" <%= key === firstPathElement ? "class=secondary" : "" %>>
            <%= content.readableName %>
          </a>
        </li>
      <% } %>
      <li>
        <a href="/settings" <%= firstPathElement === "settings" ? "class=secondary" : "" %>>
          Settings
        </a>
      </li>
      <li>
        <a href="/logout" %>>
          Log out
        </a>
      </li>
    <% } else { %>
      <li>
        <a href="/login" <%= firstPathElement === "profile" ? "class=secondary" : "" %>>
          Login
        </a>
      </li>
      <li>
        <a href="/register" %>>
          Register
        </a>
      </li>
    <% } %>
  </ul>
</nav>