<label for="<%= name %>">
  <input type="checkbox" id="<%= name %>" name="<%= name %>" value="true"
    <%= value == "true" ? "checked=checked" : "" %>>
  <%= name.charAt(0).toUpperCase() + name.slice(1) %>
</label>